<div class="w-full relative">
  <img
    class="absolute z-10 w-2/3 left-0 right-0 m-auto"
    src="./logo-home.svg"
    alt="Premios a la comunidad hispano hablante de streaming"
  />
  <video
    class="w-full h-auto object-cover object-top animate-ease-in-out animate-fade duration-10000"
    src="/360_LOGO.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 90%, 0 75%);"
  />
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/360_LOGO.mp4"
    autoplay
    loop
    muted/>
</div>
